<!DOCTYPE html>
<html>
<head>
    <title>Wall of Quotes</title>
</head>
<body>
    <h3>Welcome {{ user.first_name }} {{user.last_name}}</h3>
    <!-- <p>Your user id: {{ request.session.userid }}</p>
    <p>User_First Name: {{ user.first_name }}</p>
    <p>User_Last Name: {{ user.last_name }}</p>
    <p>User_Email: {{ user.email }}</p> -->

    <form action="/add_quote" method="POST">
        {% csrf_token %}

        <label for="authoe"><b>Author:</b></label>
        <input type="text" placeholder="Churchill" name="author" required>

        <textarea name="add_quote" id="quote" cols="100" rows="10" placeholder="Post a quote"></textarea>
        <input type="submit" value="Post Quote" >
    </form>

    <h2>Quotes:</h2>
    {% if post_data %}
      {% for post in post_data %}
      <fieldset>
              <!-- this is where you put in the user link href -->
            <h3>{{ post.author }}</h3>
            <p>{{ post.quote }}</p>
            <p>{{ post.user.first_name }}</p>


        </fieldset>
        {% endfor %}
    {% endif %}

    <!-- Loggout functionalithy -->
    <form action="/logout">
    {% csrf_token %}
    <input type="submit" value="Logout">
    </form>
</body>
</html>
